# Node modules folder

# dependencies
/*/node_modules
/.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
